.App {
  text-align: center;
}

.TodoForm {
  margin-top: 20px;
}

.input{
  width: 250px;
  margin-left: 20px;
}

.addBtn{
  margin-left: 10px;
}

.tasks {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.list{
  text-align: start;
  width: 300px;
  list-style: none;
  margin-bottom: 15px;
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid #DBDDDE;
  position: relative;
}

.btn {
  position: absolute;
  right: 5px;
  border: none;
}